@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-2xl font-medium;
}
h3 {
  @apply text-xl font-medium;
}
h4 {
  @apply text-lg font-medium;
}
p {
  @apply text-base;
  font-family: var(--ibm-plex-sans);
}

h1,
h2,
h3,
h4,
a {
  @apply text-text-primary uppercase;
  font-family: var(--ibm-plex-mono);
}

p {
  @apply text-text-400;
}

button {
  font-family: var(--ibm-plex-mono);
}

button.primary {
  @apply clip-path-button bg-accent-primary py-2 px-3 rounded-sm uppercase font-semibold text-bg-primary;
}

a {
  @apply cursor-pointer;
}

.clip-path-button {
  clip-path: polygon(
    0% 0%,
    /* canto superior esquerdo */ 100% 0%,
    /* canto superior direito */ 100% 70%,
    /* ponto de corte direito */ 90% 100%,
    /* canto inferior direito */ 0% 100% /* canto inferior esquerdo */
  );
}
