@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  @apply text-white-900;
}

#__next {
  @apply h-full;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

label {
  user-select: none;
}

textarea {
  resize: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 25px;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f1f1f1 transparent;
}
