name: Deploy

on:
  push:
    branches: [master]

concurrency:
  group: deploy
  cancel-in-progress: true

env:
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1

    steps:
      - name: Setup SSH with a passphrase
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          echo "echo $PASSPHRASE" > ~/.ssh_askpass && chmod +x ~/.ssh_askpass
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' | DISPLAY=None SSH_ASKPASS=~/.ssh_askpass ssh-add - >/dev/null

      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build --no-cache -t ${{ secrets.DOCKER_USERNAME }}/portfolio:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/portfolio:latest

      - name: Deploy to remote server via SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SERVER_IP_ADDRESS: ${{ secrets.SERVER_IP_ADDRESS }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          ssh -o StrictHostKeyChecking=no root@${SERVER_IP_ADDRESS} << EOF
            IMAGE_NAME="${{ secrets.DOCKER_USERNAME }}/portfolio:latest"
            if docker images --format '{{.Repository}}:{{.Tag}}' | grep -q "^${IMAGE_NAME}$"; then
              echo "Image exists locally, skipping pull"
            else
              echo "Image does not exist, pulling from registry"
              docker pull ${IMAGE_NAME}
            fi
            docker stop portfolio || true
            docker rm portfolio || true
            docker run --restart always -d --name portfolio -p 3000:3000 ${IMAGE_NAME}
          EOF
